<!DOCTYPE html>
<html>
	<head>
        <title>Eureca.io authentication with ExpressJS and Passport</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <script src="/eureca.js"></script>
	</head>
	<body>
        <div id="container">
		<% if (!user) { %>
			<nav>
			<a href="/">Home</a>
            </nav>
		<% } else { %>
            <nav>
			<a href="/">Home</a>
			<a href="/account">Account</a>
			<a href="/logout">Log Out</a>
            </nav>
        <% } %>
        
        <div id="bodyContent">
        <%- body %>
        </div>
        </div>
	</body>
</html>
