<% if (message) { %>
<p><%= message %></p>
<% } %>
<form action="/login" method="post">
	<div>
	<label>Username</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password</label>
	<input type="password" name="password"/>
	</div>
	<input id="submitBtn" type="submit" value="Submit"/>
</form>

<p><small>Test account = bob:secret</small></p>